.center{
    display: flex;
  justify-content: center;
  align-items: center;
}

.par{
    font-size: 20px;
    color: #111010;  
    text-align: center;
}
ul{
    list-style-type: disc;
    padding: 0; 

}

th{
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

td{
    padding: 10px;
    text-align: center;
}